**/__pycache__/
*.egg-info/
.venv
venv/

*.dot
*.prof
scripts/
.hydra/hydra.yaml
.DS_Store
*.log
notebooks/deprecated
notebooks/results
notebooks/bandit/results
notebooks/bandit/*.png
notebooks/bandit/data
notebooks/tmp*
notebooks/*.md
bart_playground/bandit/agents/_deprecated
profile_output/

.vscode/*
.idea/*
.cursor/*
CLAUDE.md

benchmarks/*.csv
tests/unit/plan/*
tests/output/*
tests/*.md
*.pkl

/benchmarks/
/experiments/
/legacy/
