*__pycache__
*.egg-info/
.venv
venv/

*.dot
*.prof
scripts/
.hydra/hydra.yaml
.DS_Store
*.log
notebooks/deprecated
notebooks/results
notebooks/bandit/temp_results
notebooks/bandit/test_results
notebooks/bandit/results
notebooks/bandit/*.png
bart_playground/bandit/NeuralTS
