backpack==0.1
bartz==0.7.0
data_generator==1.0.1
graphviz==0.20.3
matplotlib==3.10.5
numba==0.61.0
numpy==2.3.2
pandas==2.3.2
pmlb==1.0.1.post3
pytest==8.4.0
ray==2.47.0
river==0.22.0
scikit_learn==1.7.1
scipy==1.16.1
setuptools==75.8.0
torch==2.8.0
tqdm==4.67.1
xgboost==3.0.4
